<style type="text/css">
    #panel-border {
        margin-bottom: 24px;
        border: 1px solid #dce0e0;
        background-color: #fff;
        border-radius: 0;
        margin-left: 20px;
    }
    
    .panel-body {
        border-top: none !important;
    }
    
    .modal-dialog {
        width: 520px;
    }
    
    .modal-content {
        margin: 0px
    }
</style>

<section class="panel">
    <div class="panel-header">
        Payment Methods
    </div>
    <div id="icons-panel" class="panel-body">
        <div class="row space-3">
            <div class="col-12 space-2 space-top-2">
                <div class="row">
                    <div class="col-md-3">
                        Card number
                    </div>
                    <div class="col-md-3">
                        <span>{{userData.creditcard}}</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        Expiration Date
                    </div>
                    <div class="col-md-3">
                        <span>{{userData.expirydate}}</span>
                    </div>

                </div>
            </div>
            <br><br>
            <div class="col-4 space-2 space-top-2">
                <div id="modal-trigger-add" class="panel payment-image">
                    <a ng-click="open()" href="#" id="addPayMethod" class="sidenav-item" style="color:black">
                        <div class="row row-table row-full-height">
                            <div class="col-12 col-middle text-center text-lead">
                                <div class="space-3 space-top-3">
                                    <i class="icon icon-add icon-size-2"> </i>
                                </div>
                                <div class="space-1" id="add_payment_method">
                                    Add Payment Method
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            

            <div id="add-payment-modal">
                <div>
                    <noscript></noscript>
                </div>
            </div>

            <div id="remove-modal" class="modal" role="dialog" aria-hidden="true">
                <div class="modal-table">
                    <div class="modal-cell">
                        <div class="modal-content">
                            <div class="panel-header">
                                Remove Payment Method
                            </div>
                            <div class="panel-body">
                                Are you sure you want to remove this payment method?
                            </div>
                            <div class="panel-footer">
                                <button class="btn" data-behavior="modal-close">
                                    Cancel
                                </button>
                                <button id="remove-button" data-behavior="modal-close" class="btn btn-primary">
                                    Remove Payment Method
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Remember: Airbnb will never ask you to wire money. <a href="#"> Learn more</a>.
            </div>
        </div>

    </div>
</section>
<script type="text/ng-template" id="paymentModal.html">
<!--<div id="outer_box">
    <span id="payModal" style="display: block">-->
        <!--<div class="modal-container modal-transitions">
            <div class="modal-table">
                <div class="modal-cell" style="padding: 0px;">-->
                    <div class="modal-content" style="margin:0px" tabindex="-1">
                        <header class="panel-header">
                            <button class="modal-close" id="close_cross" type="button">
                            </button>
                            <span>Add New Payment Method</span>
                            <div class="text-muted hide">
                                <small>
                                    <span>
                                        One last step to accept your undefined gift card from undefined. Please add a US-based payment method. Don’t worry, we won’t charge you.
                                    </span>
                                    <span>&nbsp;</span>
                                    <a target="_blank">Learn More</a>
                                </small>
                            </div>
                        </header>
                        <div class="panel-header alert alert-header alert-with-icon alert-danger hide">
                            <i class="icon icon-alert-alt alert-icon"></i>
                            <div>
                                <span>Please correct the following:</span>
                                <ul></ul>
                            </div>
                        </div>
                        <section class="panel-body">
                            <div>
                                <div id="payment-logo-visa" class="payment-logo visa"></div>
                                <div id="payment-logo-master" class="payment-logo master"></div>
                                <div id="payment-logo-american-express" class="payment-logo american_express"></div>
                                <div id="payment-logo-discover" class="payment-logo discover"></div>
                            </div>
                            <form id="credit_card_form">
                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <!--<iframe name="payment-iframe" width="100%" height="150" frameborder="0" scrolling="no" seamless="" src="https://iframes.airbnbpayments.com/1c40f931f0e0caf29960a39c95e74630ec064b62/pay.html?country=US&amp;origin=https%3A%2F%2Fwww.airbnb.com"></iframe>-->
                                            <form id="credit-card-form">
                                                <div class="page-container-full">
                                                    <div class="row">
                                                    <div class="responsive-component col-12 cc-number">
                                                        <label for="credit-card-number">
                                                        <span data-i18n="cc_number" id="cc-number-label-content">
                                                            Card number
                                                        </span>
                                                        <span>&nbsp;*</span>
                                                        </label>
                                                        <div class="right-addon">
                                                        <!--<a href="#" id="tooltip-cc-icon-lock" class="icon icon-lock icon-light-gray h3 link-reset" tabindex="-1"></a>-->
                                                        <input type="text" ng-model="card.number" name="credit-card-number" id="credit-card-number" data-hook="credit-card-number" aria-labelledby="cc-number-label-content" aria-describedby="credit-card-number-field-error" aria-required="true" class="invalid" aria-invalid="false">
                                                        </div>
                                                        <!--<div aria-live="polite" id="credit-card-number-field-error">
                                                        <div class="label label-warning inline-error" name="credit-card-number-error" data-hook="credit-card-number-error" data-i18n="cc_number_invalid">
                                                        </div>
                                                        </div>-->
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                    <div class="responsive-component col-6 cc-expiration">
                                                        <label for="credit-card-month">
                                                        <span data-i18n="expires_on" id="cc-expiration-label-content">Expires on</span>
                                                        <span>&nbsp;*</span>
                                                        </label>
                                                        <div class="row row-super-condensed">
                                                        <div class="col-6">
                                                            <div class="select select-block">
                                                            <select ng-model="card.month" name="credit-card-month" id="credit-card-month" data-hook="credit-card-month" aria-labelledby="cc-expiration-label-content" aria-describedby="cc-expiration-field-error" aria-required="true">
                                                                <option value="">MM</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="select select-block">
                                                            <select ng-model="card.year" name="credit-card-year" id="credit-card-year" data-hook="credit-card-year" aria-labelledby="cc-expiration-label-content" aria-describedby="cc-expiration-field-error" aria-required="true">
                                                                <option value="">YYYY</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                                <option value="2026">2026</option>
                                                                <option value="2027">2027</option>
                                                                <option value="2028">2028</option>
                                                                <option value="2029">2029</option>
                                                                <option value="2030">2030</option>
                                                                <option value="2031">2031</option>
                                                                <option value="2032">2032</option>
                                                                <option value="2033">2033</option>
                                                                <option value="2034">2034</option>
                                                                <option value="2035">2035</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div aria-live="polite" id="cc-expiration-field-error">
                                                        <div class="label label-warning inline-error hide" name="credit-card-exp-date-past-error" data-hook="exp-date-past-error" data-i18n="cc_expiration_past">
                                                        </div>
                                                        <div class="label label-warning inline-error hide" name="credit-card-exp-date-error" data-hook="credit-card-exp-date-error" data-i18n="cc_expiration_required">
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="responsive-component col-6 cc-security-code">
                                                        <label id="cvv-label" for="credit-card-cvv">
                                                        <span data-i18n="security_code" id="security-code-label-content">Security code</span>
                                                        <span>&nbsp;*</span>
                                                        </label>
                                                        <div class="right-addon">
                                                        <!--<a href="#" id="tooltip-cvv" class="icon icon-question-alt icon-light-gray h3 link-reset" tabindex="-1"></a>-->
                                                        <input ng-model="card.securitycode" type="text" name="credit-card-cvv" id="credit-card-id" data-hook="credit-card-cvv" aria-labelledby="security-code-label-content" aria-required="true" aria-describedby="credit-card-cvv-error" class="invalid" aria-invalid="false">
                                                        </div>
                                                        <!--<div aria-live="polite" id="credit-card-cvv-error">
                                                        <div class="label label-warning inline-error" name="credit-card-cvv-error" data-hook="credit-card-cvv-error" data-i18n="cc_security_code_required">
                                                        </div>
                                                        </div>-->
                                                    </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><label>First name</label>
                                    <input ng-model="card.firstname" aria-label="First name" name="credit_card[first_name]" value="" type="text"></div>
                                    <div class="col-6"><label>Last name</label>
                                    <input ng-model="card.lastname" aria-label="Last name" name="credit_card[last_name]" value="" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><label>Postal code</label><input ng-model="card.zipcode" aria-label="Postal code" name="credit_card[zip]" type="text"></div>
                                    <div class="col-6"><label>Country</label>
                                        <div class="select select-block">
                                            <select name="payment_country">
                                                <option value="AF">Afghanistan</option>
                                                <option value="AX" >Åland Islands</option>
                                                <option value="AL" >Albania</option>
                                        <option
                                        value="DZ" >Algeria</option><option
                                        value="AS" >American Samoa</option><option
                                        value="AD" >Andorra</option><option
                                        value="AO" >Angola</option><option
                                        value="AI" >Anguilla</option><option
                                        value="AQ" >Antarctica</option><option
                                        value="AG"
                                        >Antigua and Barbuda</option><option
                                        value="AR" >Argentina</option><option
                                        value="AM" >Armenia</option><option
                                        value="AW" >Aruba</option><option
                                        value="AU" >Australia</option><option
                                        value="AT" >Austria</option><option
                                        value="AZ" >Azerbaijan</option><option
                                        value="BS" >Bahamas</option><option
                                        value="BH" >Bahrain</option><option
                                        value="BD" >Bangladesh</option><option
                                        value="BB" >Barbados</option><option
                                        value="BY" >Belarus</option><option
                                        value="BE" >Belgium</option><option
                                        value="BZ" >Belize</option><option
                                        value="BJ" >Benin</option><option
                                        value="BM" >Bermuda</option><option
                                        value="BT" >Bhutan</option><option
                                        value="BO" >Bolivia</option><option
                                        value="BA"
                                        >Bosnia and Herzegovina</option><option
                                        value="BW" >Botswana</option><option
                                        value="BV" >Bouvet Island</option><option
                                        value="BR" >Brazil</option><option
                                        value="IO"
                                        >British Indian Ocean Territory</option><option
                                        value="VG"
                                        >British Virgin Islands</option><option
                                        value="BN" >Brunei</option><option
                                        value="BG" >Bulgaria</option><option
                                        value="BF" >Burkina Faso</option><option
                                        value="BI" >Burundi</option><option
                                        value="KH" >Cambodia</option><option
                                        value="CM" >Cameroon</option><option
                                        value="CA" >Canada</option><option
                                        value="CV" >Cape Verde</option><option
                                        value="BQ"
                                        >Caribbean Netherlands</option><option
                                        value="KY" >Cayman Islands</option><option
                                        value="CF"
                                        >Central African Republic</option><option
                                        value="TD" >Chad</option><option
                                        value="CL"
                                        >Chile</option><option
                                        value="CN" >China</option><option
                                        value="CX" >Christmas Island</option><option
                                        value="CC"
                                        >Cocos [Keeling] Islands</option><option
                                        value="CO" >Colombia</option><option
                                        value="KM" >Comoros</option><option
                                        value="CG" >Congo</option><option
                                        value="CK" >Cook Islands</option><option
                                        value="CR" >Costa Rica</option><option
                                        value="HR" >Croatia</option><option
                                        value="CW" >Curaçao</option><option
                                        value="CY" >Cyprus</option><option
                                        value="CZ" >Czech Republic</option><option
                                        value="CD" >Democratic Republic of the Congo</option><option
                                        value="DK" >Denmark</option><option
                                        value="DJ" >Djibouti</option><option
                                        value="DM" >Dominica</option><option
                                        value="DO" >Dominican Republic</option><option
                                        value="TL" >East Timor</option><option
                                        value="EC" >Ecuador</option><option
                                        value="EG" >Egypt</option><option
                                        value="SV" >El Salvador</option><option
                                        value="GQ" >Equatorial Guinea</option><option
                                        value="ER" >Eritrea</option><option
                                        value="EE" >Estonia</option><option
                                        value="ET" >Ethiopia</option><option
                                        value="FK" >Falkland Islands [Islas Malvinas]</option><option
                                        value="FO" >Faroe Islands</option><option
                                        value="FJ" >Fiji</option><option
                                        value="FI"
                                        >Finland</option><option
                                        value="FR" >France</option><option
                                        value="GF" >French Guiana</option><option
                                        value="PF" >French Polynesia</option><option
                                        value="TF"
                                        >French Southern Territories</option><option
                                        value="GA" >Gabon</option><option
                                        value="GM" >Gambia</option><option
                                        value="GE" >Georgia</option><option
                                        value="DE" >Germany</option><option
                                        value="GH" >Ghana</option><option
                                        value="GI" >Gibraltar</option><option
                                        value="GR" >Greece</option><option
                                        value="GL" >Greenland</option><option
                                        value="GD" >Grenada</option><option
                                        value="GP" >Guadeloupe</option><option
                                        value="GU" >Guam</option><option
                                        value="GT"
                                        >Guatemala</option><option
                                        value="GG" >Guernsey</option><option
                                        value="GN" >Guinea</option><option
                                        value="GW" >Guinea-Bissau</option><option
                                        value="GY" >Guyana</option><option
                                        value="HT" >Haiti</option><option
                                        value="HM" >Heard Island and McDonald Islands</option><option
                                        value="HN" >Honduras</option><option
                                        value="HK" >Hong Kong</option><option
                                        value="HU" >Hungary</option><option
                                        value="IS" >Iceland</option><option
                                        value="IN" >India</option><option
                                        value="ID" >Indonesia</option><option
                                        value="IQ" >Iraq</option><option
                                        value="IE"
                                        >Ireland</option><option
                                        value="IM" >Isle of Man</option><option
                                        value="IL" >Israel</option><option
                                        value="IT" >Italy</option><option
                                        value="CI" >Ivory Coast</option><option
                                        value="JM" >Jamaica</option><option
                                        value="JP" >Japan</option><option
                                        value="JE" >Jersey</option><option
                                        value="JO" >Jordan</option><option
                                        value="KZ" >Kazakhstan</option><option
                                        value="KE" >Kenya</option><option
                                        value="KI" >Kiribati</option><option
                                        value="XK" >Kosovo</option><option
                                        value="KW" >Kuwait</option><option
                                        value="KG" >Kyrgyzstan</option><option
                                        value="LA" >Laos</option><option
                                        value="LV"
                                        >Latvia</option><option
                                        value="LB" >Lebanon</option><option
                                        value="LS" >Lesotho</option><option
                                        value="LR" >Liberia</option><option
                                        value="LY" >Libya</option><option
                                        value="LI" >Liechtenstein</option><option
                                        value="LT" >Lithuania</option><option
                                        value="LU" >Luxembourg</option><option
                                        value="MO" >Macau</option><option
                                        value="MK" >Macedonia</option><option
                                        value="MG" >Madagascar</option><option
                                        value="MW" >Malawi</option><option
                                        value="MY" >Malaysia</option><option
                                        value="MV" >Maldives</option><option
                                        value="ML" >Mali</option><option
                                        value="MT"
                                        >Malta</option><option
                                        value="MH" >Marshall Islands</option><option
                                        value="MQ" >Martinique</option><option
                                        value="MR" >Mauritania</option><option
                                        value="MU" >Mauritius</option><option
                                        value="YT" >Mayotte</option><option
                                        value="MX" >Mexico</option><option
                                        value="FM" >Micronesia</option><option
                                        value="MD" >Moldova</option><option
                                        value="MC" >Monaco</option><option
                                        value="MN" >Mongolia</option><option
                                        value="ME" >Montenegro</option><option
                                        value="MS" >Montserrat</option><option
                                        value="MA" >Morocco</option><option
                                        value="MZ" >Mozambique</option><option
                                        value="MM" >Myanmar [Burma]</option><option
                                        value="NA" >Namibia</option><option
                                        value="NR" >Nauru</option><option
                                        value="NP" >Nepal</option><option
                                        value="NL" >Netherlands</option><option
                                        value="NC" >New Caledonia</option><option
                                        value="NZ" >New Zealand</option><option
                                        value="NI" >Nicaragua</option><option
                                        value="NE" >Niger</option><option
                                        value="NG" >Nigeria</option><option
                                        value="NU" >Niue</option><option
                                        value="NF"
                                        >Norfolk Island</option><option
                                        value="MP"
                                        >Northern Mariana Islands</option><option
                                        value="NO" >Norway</option><option
                                        value="OM" >Oman</option><option
                                        value="PK"
                                        >Pakistan</option><option
                                        value="PW" >Palau</option><option
                                        value="PS"
                                        >Palestinian Territories</option><option
                                        value="PA" >Panama</option><option
                                        value="PG" >Papua New Guinea</option><option
                                        value="PY" >Paraguay</option><option
                                        value="PE" >Peru</option><option
                                        value="PH"
                                        >Philippines</option><option
                                        value="PN" >Pitcairn Islands</option><option
                                        value="PL" >Poland</option><option
                                        value="PT" >Portugal</option><option
                                        value="PR" >Puerto Rico</option><option
                                        value="QA" >Qatar</option><option
                                        value="RE" >Réunion</option><option
                                        value="RO" >Romania</option><option
                                        value="RU" >Russia</option><option
                                        value="RW" >Rwanda</option><option
                                        value="BL" >Saint Barthélemy</option><option
                                        value="SH" >Saint Helena</option><option
                                        value="KN"
                                        >Saint Kitts and Nevis</option><option
                                        value="LC" >Saint Lucia</option><option
                                        value="MF" >Saint Martin</option><option
                                        value="PM"
                                        >Saint Pierre and Miquelon</option><option
                                        value="VC" >Saint Vincent and the Grenadines</option><option
                                        value="WS" >Samoa</option><option
                                        value="SM" >San Marino</option><option
                                        value="ST"
                                        >São Tomé and Príncipe</option><option
                                        value="SA" >Saudi Arabia</option><option
                                        value="SN" >Senegal</option><option
                                        value="RS" >Serbia</option><option
                                        value="SC" >Seychelles</option><option
                                        value="SL" >Sierra Leone</option><option
                                        value="SG" >Singapore</option><option
                                        value="SX" >Sint Maarten</option><option
                                        value="SK" >Slovakia</option><option
                                        value="SI" >Slovenia</option><option
                                        value="SB" >Solomon Islands</option><option
                                        value="SO" >Somalia</option><option
                                        value="ZA" >South Africa</option><option
                                        value="GS" >South Georgia and the South Sandwich Islands</option><option
                                        value="KR" >South Korea</option><option
                                        value="SS" >South Sudan</option><option
                                        value="ES" >Spain</option><option
                                        value="LK" >Sri Lanka</option><option
                                        value="SR" >Suriname</option><option
                                        value="SJ"
                                        >Svalbard and Jan Mayen</option><option
                                        value="SZ" >Swaziland</option><option
                                        value="SE" >Sweden</option><option
                                        value="CH" >Switzerland</option><option
                                        value="TW" >Taiwan</option><option
                                        value="TJ" >Tajikistan</option><option
                                        value="TZ" >Tanzania</option><option
                                        value="TH" >Thailand</option><option
                                        value="TG" >Togo</option><option
                                        value="TK"
                                        >Tokelau</option><option
                                        value="TO" >Tonga</option><option
                                        value="TT"
                                        >Trinidad and Tobago</option><option
                                        value="TN" >Tunisia</option><option
                                        value="TR" >Turkey</option><option
                                        value="TM" >Turkmenistan</option><option
                                        value="TC"
                                        >Turks and Caicos Islands</option><option
                                        value="TV" >Tuvalu</option><option
                                        value="UM"
                                        >U.S. Outlying Islands</option><option
                                        value="VI"
                                        >U.S. Virgin Islands</option><option
                                        value="UG" >Uganda</option><option
                                        value="UA" >Ukraine</option><option
                                        value="AE"
                                        >United Arab Emirates</option><option
                                        value="GB" >United Kingdom</option><option
                                        selected="" value="US"
                                        >United States</option><option
                                        value="UY"
                                        >Uruguay</option><option
                                        value="UZ" >Uzbekistan</option><option
                                        value="VU" >Vanuatu</option><option
                                        value="VA" >Vatican City</option><option
                                        value="VE" >Venezuela</option><option
                                        value="VN" >Vietnam</option><option
                                        value="WF" >Wallis and Futuna</option><option
                                        value="EH" >Western Sahara</option><option
                                        value="YE" >Yemen</option><option
                                        value="ZM" >Zambia</option><option
                                        value="ZW"
                                        >Zimbabwe</option></select></div>
                                    </div>
                                </div><input id="payment_method_nonce" name="payment_method_nonce" type="hidden">
                                <input id="payment_method_cvv_nonce" name="payment_method_cvv_nonce" type="hidden">
                                <input id="payment_method_cse_payload" name="payment_method_cse_payload" type="hidden"></form>
                        </section>
                        <div class="panel-footer">
                            <p class="label label-warning text-left hide">We’re sorry! At the moment, you can only redeem Airbnb gift cards by adding a US-based payment method. We’re
                                working on expanding this soon.</p>
                            <p class="text-left hide">
                                If you don’t accept your gift card within 90 days, we’ll return the gift card to the sender.</p>
                                <button class="btn" ng-click="cancel()">Cancel</button>
                            <button ng-click="addcard()" class="btn btn-primary">Add Card</button>
                        </div>
                    </div>
                <!--</div>
            </div>
        </div>-->
    <!--</span>
</div>-->
</script>