
<html>
<head>
<title>Airbnb</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="../public/css/airbnb.css">
<link rel="stylesheet" href="../public/css/map_search-4d61a7252e5810494d5afef7f7834607.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

<div class="container-fluid">
    <div class="row" style="margin-top:50px">
      <div class="col-md-7" style="overflow-y: auto !important;">
          <div class="row">
              <div class="col-md-12 filters-section panel-body panel-light intro-filter" style="border-bottom: 1px solid lightgray; padding: 10px 5px;">
                <div class="col-md-3 filter-section-header-dates" style="padding:10px;">
                  <span>Dates</span>
                </div>
                <div class="col-md-3">
                  <input type="text" name="checkin"  class="checkin ui-datepicker-target" placeholder="Check in"></div>
                <div class="col-md-3">
                  <input type="text" name="Check out" placeholder="Check out"></div>
                <div class="col-md-3"><input type="text" name="1 guest"></div>
              </div>
              <div class="col-md-12 filters-section panel-body panel-light intro-filter" style="border-bottom: 1px solid lightgray; padding: 10px 0px;">

                <div class="col-md-3 filter-section-header-room-types" style="padding:15px;">
                  <span>Room Type</span>
                  <i class="icon icon-question hide-sm hide-md"></i>
                </div>
                  <div class="col-md-3">
                    <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                      <div class="row">
                          <div class="col-md-1 facet-checkbox__icon-col" style="padding-right: 15px; padding-left: 0px;">
                            <i class="icon h5 icon-entire-place"></i>
                          </div>
                          <div class="col-md-8"><span>Entire Home</span>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-1 facet-checkbox__input-col"><input type="checkbox"></div>
                      </div>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                    <div class="row">
                        <div class="col-md-1 facet-checkbox__icon-col">
                          <i class="icon h5 icon-private-room"></i>
                        </div>
                        <div class="col-md-8"><span>Private Room</span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-1 facet-checkbox__input-col"><input type="checkbox"></div>
                    </div>
                  </label>
                </div>
                <div class="col-md-3">
                  <label class="checkbox facet-checkbox facet-checkbox--room-type panel panel-dark">
                    <div class="row">
                        <div class="col-md-1 facet-checkbox__icon-col">
                          <i class="icon h5 icon-shared-room"></i>
                        </div>
                        <div class="col-md-8"><span>Shared Room</span>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-1 facet-checkbox__input-col"><input type="checkbox"></div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-md-12 filters-section panel-body panel-light intro-filter" style="border-bottom: 1px solid lightgray; padding: 10px 0px;">
                <div class="col-md-3 filter-section-header-price" style="padding:15px;">
                  <span>Price Range</span>
                </div>
                <div class="p2-slider-new">
                </div>
              </div>
              <div class="col-md-12 filters-section panel-body panel-light intro-filter" style="border-bottom: 1px solid lightgray; padding: 10px 15px;">
                <div class="row">
                  <div class="col-md-3" style="padding-top:10px;">
                    <i class="icon icon-instant-book icon-beach h4"></i>
                    <span>Instant Book</span>
                  </div>
                  <div class="col-md-9">
                    <div class="row row-condensed ib_p2_filter">
                      <div class="pull-right text_padding">
                        <label class="toggle toggle--color-babu">
                          <input type="checkbox" class="toggle__checkbox">
                          <div class="toggle__track"></div>
                          <div class="toggle__handle"><span>Off</span></div>
                        </label>
                      </div>
                    </div>
                      <div class="button_padding">
                        <span>Listings you can book without waiting for host approval. </span>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-md-12" style="padding :10px 15px;">
                <div class="row">
                  <div class="col-md-1">
                    <button type="button" class="btn">
                      <span>Filters</span>
                    </button>
                  </div>
                  <div class="col-md-6"></div>
                  <div class="col-md-5">Some dynamic text</div>
                </div>
                <div class="row">
                  <div class="col-md-12 pricing-disclaimer text-muted">
                    <i class="icon icon-currency-usd"></i>
                    <span>Additional Fees apply. Taxes may be added.</span>
                  </div>
                </div>
              </div>
              <div class="search-results">
                <div class="outer-listings-container space-2">
                  <div lass="listings-container">
                    <div class="row">
                      <div class="listing-card-wrapper col-sm-12 space-2 col-md-6">
                        <div class="listing" >
                          <div class="panel-image listing-img listing-img-hide-carousel-controls">
                            <div>
                              <a href="/rooms/9996469" class="media-photo media-cover">
                                <div class="listing-img-container media-cover text-center">
                                  <img src="https://a2.muscache.com/im/pictures/dee960f9-3379-477a-91f6-ad95867fcd2d.jpg?aki_policy=x_medium" alt="Cozy bedroom in Santa Clara CA">
                                </div>
                              </a>
                              <div class="slideshow-controls">
                                <button class="target-prev target-control block-link">
                                  <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
                                </button>
                                <button class="target-next target-control block-link">
                                  <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
                                </button>
                              </div>
                              <a href="/rooms/9996469">
                                <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                                  <div class="price-label">
                                    <span>
                                      <sup class="currency-prefix">$</sup>
                                      <span class="price-amount">Price</span>
                                      <span> </span>
                                    </span>
                                  </div>
                                </div>
                              </a>
                              <!-- one more div has to be inserted -->
                              <div class="panel-overlay-top-right wl-social-connection-panel">
                                <span class="rich-toggle wish_list_button wishlist-button not_saved">
                                  <input type="checkbox">
                                  <label class="hide-sm">
                                    <i name="heart" size="2" color="true-rausch" class="icon icon-heart icon-true-rausch icon-size-2 rich-toggle-checked"></i>
                                    <i name="heart" size="2" class="icon icon-heart icon-size-2 wishlist-heart-unchecked rich-toggle-unchecked"></i>
                                    <i name="heart-alt" size="2" color="white" class="icon icon-heart-alt icon-white icon-size-2"></i>
                                  </label>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="panel-body panel-card-section">
                            <div class="media">
                                <a href="#" class="pull-right media-photo-badge card-profile-picture card-profile-picture-offset" rel="nofollow">
                                  <div class="media-photo media-round">
                                    <img src="" alt="Carlos"></img>
                                  </div>

                                </a>
                                <h3 title="Cozy Bedroom in santa clara ca" class="h5 listing-name text-truncate space-top-1">
                                  <a href="#" class="text-normal">
                                    <span class="listing-name--display">ABCD</span>
                                  </a>
                                </h3>
                                <a href="#" class="text-normal link-reset">
                                  <div class="text-muted listing-location text-truncate">
                                    <div>
                                      <span class="listing-card-room-type">Entire Home/ Apt </span>
                                      <span>.</span>
                                      <span class="person-capacity hide-md">
                                        <span >2 guests</span>
                                      </span>
                                        <span>.</span>
                                      <span>
                                        <small>
                                          <div class="star-rating-wrapper">

                                          </div>
                                        </small>
                                      </span>


                                    </div>

                                  </div>
                                </a>
                            </div>
                          </div>
                        </div><!-- end of listing -->
                      </div>
                    </div>
                  </div>

                </div>

              </div>
          </div>
        </div>
    <div class="col-md-5 map">
      <div style="height:100%;" class="search-results-map">
        <div class="map-canvas">
          <div style="height: 100%; width: 100%; position: relative; background-color: rgb(164, 221, 245); overflow: hidden;">
            <div class style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
