<!DOCTYPE html>
<html lang="en">
<!-- head tag --> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Profile - Airbnb</title>
    <!-- Bootstrap core style sheet-->
	<!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->  
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="airbnb.css">
	<link rel="stylesheet" type="text/css" href="airbnb2.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style type="text/css">
      	#panel-border{
		    margin-bottom: 24px;
     		border: 1px solid #dce0e0;
    		background-color: #fff;
      		border-radius: 0;
      		margin-left: 20px;
     	}
    </style>
    </head>
<!-- body tag -->
  	<body ng-app="airbnbViewProfile" ng-controller="viewProfileController" class="with-new-header has-epcot-header touch">
   	<div class="container">
  		<div class="row">
		<div class="col-lg-3 col-md-4 hide-sm">
	 	<div id="user" class="space-4 ">
          <div class="space-2" id="user-media-container">
            <div id="slideshow" class="slideshow">
              <ul class="slideshow-images">
                <li class="active media-photo media-photo-block">
                  <img alt="Varsha" class="img-responsive" height="225" src="https://a2.muscache.com/defaults/user_pic-225x225.png?v=2" title="Varsha" width="225">
                </li>
              </ul>
              <div class="panel-header" style="margin-left: 20px;">
          			Verified info
       		  </div>
       		  <div class="panel-body" id="panel-border">
	          <ul class="list-unstyled space-3">
	      		<li class="row row-table space-2">
	        		<div class="col-12 col-middle">
	          			Email address
	        		</div>
	        		<div class="col-3 col-middle">
	          			<i class="icon icon-ok h3"></i>
	        		</div>
	      		</li>
			  </ul>
				<a href="https://www.airbnb.com/users/editprofile.html">
	                Verify more info
	            </a>
	        </div>
          </div>
        </div>
      </div>
    </div>
	<div class="col-lg-9 col-md-8 hide-sm">
		<div class="col-sm-8 col-md-12 col-lg-12">
          <h1>
            Hey, I’m {{first_name}} !
          </h1>
          <div class="h5 space-top-2">
            <span class="text-normal">
              Member since {{month}} {{year}}
            </span>
          </div>
          <div class="text-muted space-top-2">
            <div data-hypernova-key="user_flag_controlbundlejs"><div data-reactid=".4i7xugmccg" data-react-checksum="-1748003887"><div class="flag-widget" data-reactid=".4i7xugmccg.1"><a href="#" class="link-reset" title="Report this user" data-prevent-default="true" data-reactid=".4i7xugmccg.1.0"><i class="icon icon-flag h4" data-reactid=".4i7xugmccg.1.0.0"></i><span data-reactid=".4i7xugmccg.1.0.1"> </span><span data-reactid=".4i7xugmccg.1.0.2">Report this user</span></a></div><noscript data-reactid=".4i7xugmccg.2"></noscript></div></div>
          </div>
          <div class="edit_profile_container space-3">
          <a href="editprofile.ejs">Edit Profile</a></div>
        </div>
	</div>

    </div>		
	</div>
  </body>
</html>