<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/hostPhotos.css">
    <link rel="stylesheet" href="../public/css/airbnb2.css">
    <link rel="stylesheet" href="../public/css/airbnb.css">
    <title>Edit Photos for Airbnb Listing</title>
</head>
<body>
    <div id="lys-redesign-div">
        <div>-->

<div class="list-your-space__progress">

    <div class="full-backdrop"></div>
    <div class="list-your-space__content">
        <div class="centered-content clearfix">
            <div class="main-panel-container no-padding-h bg-white col-sm-12 no-padding-h">

                <div class="main-panel main-panel-padding main-panel-progress col-sm-12 main-panel-inner-full space-sm-8">
                    <div class="panel--no-border panel-title">
                        <h3 class="no-margin-padding">Photos</h3>
                    </div>
                    <div class="row extend-margin-h photo-card__content space-4">
                        <div class="help-panel__floating-container" style="top: 20px;">
                            <span class="tooltip-popup__transition-container">
                                            <div class="help-panel--collapsed help-panel__bulb-img-bubble">
                                                <div class="help-panel__bulb-img img-center"></div>
                                            </div>
                                        </span>
                        </div>
                        <div class="row no-margin-h">
                            <div class="col-sm-12 space-4">
                                <div>
                                    <input class="input-file" id="photo-image" name="image" accept="image/jpg, image/jpeg, image/png, image/gif" multiple=""
                                        type="file">
                                    <label class="col label--no-margin-padding" for="photo-image">
                                                    <div style="border: 2px dashed #bbb;" class="panel-body photos__empty-frame photos__empty-drag-highlight va-container va-container-h va-container-v">
                                                        <div class="va-middle text-center text-gray img__upload-photos-ghosts">
                                                            <div class="col col-center">
                                                                <div class="btn btn-primary btn-jumbo">
                                                                    <i class="icon icon-upload"></i>
                                                                    <span> </span>
                                                                    <span>Upload Photos</span>
                                                                </div>
                                                                <div class="row space-top-2">
                                                                    <div class="h4 text-normal">
                                                                        <span>or drag them in</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="main-panel__actions-wrapper">
                    <div class="centered-content clearfix">
                        <div class="bg-white col-sm-12 no-padding-h shadowed">
                            <div class="no-margin-padding__sm main-panel-padding main-panel-progress col-sm-12 main-panel-inner-full space-sm-8" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0">
                                <div class="divider hide-sm" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.0"></div>
                                <div class="row no-margin-padding__sm" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1">
                                    <div class="main-panel__actions col-sm-12 no-margin-padding__sm" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0">
                                        <div data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0">
                                            <a class="btn-progress-back link-icon va-container va-container-v pull-left text-gray link--accessibility-outline"
                                                href="#" ui-sref="become-a-host"  data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.0"><span class="icon hide-sm" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.0.0"></span>
                                                <span
                                                    class="va-middle" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.0.1">
                                                    <h5 class="text-normal" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.0.1.0"><span data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.0.1.0.0">Back</span></h5>
                                                    </span>
                                            </a>
                                            <a class="btn btn-large btn-progress-next btn-large__next-btn pull-right-md"
                                                href="#" ui-sref="become-a-host.description" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.1">
                                                <div class="btn-progress-next__text" data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.1.0"><span data-reactid=".szw7ejlz40.1.4.0.0.2.0.0.0.1.0.0.1.0.0">Skip for now</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="waypoint-container"><span style="font-size:0;"></span></div>

            </div>
        </div>
    </div>


</div>

<!--</div>
    </div>
</body>
</html>-->